<div class="pill">
    {{ venta.id}}
    {{ venta.nombrePersona }}
    {{ venta.fecha}}

   
    @for (animal of [
    { id: '1', edadActual: '7' },
    { id: '2', edadActual: '10' },
    { id: '3', edadActual: '15' },
    { id: '4', edadActual: '20' }
    ]; track animal.id) {
    <!-- <app-animales [animal]="animal" *ngFor="let animal of animales" >sarasa</app-animales> -->
    <div>
    <p>sarasa</p>
   
    <!-- <app-animales [animal]="animal" *ngFor="let animal of animales">
    </app-animales> -->
</div> }