<div class="pill">
    {{ venta.id}}
    {{ venta.nombrePersona }}
    {{ venta.fecha}}


    <!-- <div class="pill-group"> -->
        <app-button text="X" (btnClick)="eliminarVenta()"></app-button>
        <!-- <app-button text="==>" (btnClick)="modificarVenta()"></app-button> -->
    <!-- </div> -->

    <!-- <div class="pill-group"> -->
    <!-- <app-animales [animal]="animal" *ngFor="let animal of animales" ></app-animales> -->
    <!-- <app-animales></app-animales> -->
    <!-- </div> -->
    <div class="pill-group">
        <!-- aca Meto el for para cada uno de los animales -->
       <!-- <app-animales [animal]="animal" *ngFor="let animal of animales" ></app-animales> -->
       
   </div>
    
</div>