<div class="pill">
<div class="pill-group">
    <div class="pill-form">
        <div class="pill">
            INGRESAR UN NUEVO ANIMAL A LA GRANJA:
        </div>
       <form [formGroup]= "agregarTipoForm" (submit) = "postTipoAnimal()"> 
        <div class="pill">
            <label for="nombre" class="">Nombre del animal</label>
            <input id="nombre" class="text" formControlName="nombre">
        </div>
        <div class="pill">
            <label for="cantidad" class="">Cantidad maxima en granja</label>
            <input id="cantidad" class="text" formControlName="cantidad">
        </div>
        <div class="pill">
            <label for="expectativa" class="">Expectativa de vida expresados en dias</label>
            <input id="expectativa" class="text" formControlName="expectativa">
        </div>
        <div class="pill">
            <label for="reproduccion" class="">Cada cuantos dias se reproduce?</label>
            <input id="reproduccion" class="text" formControlName="reproduccion">
        </div>
        <div class="pill">
            <label for="precioCompra" class="">Precio de Compra</label>
            <input id="precioCompra" class="text" formControlName="precioCompra">
        </div>
        <div class="pill">
            <label for="precioVenta" class="">Precio de Venta</label>
            <input id="precioVenta" class="text" formControlName="precioVenta">
        </div>
        <div class="pill">
            <label for="imagen" class="">Link al dibujo que lo representa</label>
            <input id="imagen" class="text" formControlName="imagen">
        </div> 
        <button class= "pill" type="submit">Agregar</button> 
    </form>
    </div>
    <!-- <app-button text="Agregar" (btnClick)="postTipoAnimal()" type="submit"></app-button>  -->
   
</div>

</div>