<div class="pill">
    <div class="pill-group">
        <div class="pill-form">
            <div class="pill">
                INGRESAR INFORMACION DE COMPRA:
            </div>
            <form [formGroup]="comprarForm" (submit)="comprar()">
                <div class="pill">
                    <label for="nombre" class="">Nombre</label>
                    <input type="nombre" class="text" formControlName="inputNombre">
                </div>
                <div class="pill">
                    <label for="fecha" class="">Fecha</label>
                    <input type="inputFecha" class="text" formControlName="inputFecha">
                </div>
                <div class="pill">
                    <label for="inputTipoCompra" class="">Tipo de animal</label>
                    <input type="inputTipoCompra" class="text" formControlName="inputTipoCompra">
                </div>
                <div class="pill">
                    <label for="cantidadCompra" class="">Cantidad que quiere comprar</label>
                    <input type="cantidadCompra" class="text" formControlName="inputCantidadCompra">
                </div>
                <button class="pill" type="submit">Comprar</button>
            </form>
        </div>
    </div>
</div>