<div class="pill">
    <div class="pill-group">
        <img width="30" height="30" viewBox="0 0 30 30" fill="none" src={{tipo.imagen}} alt={{tipo.animal}} />
        <div class="pill">
            Id: {{tipo.id}}
            {{ tipo.animal }}
            Dias de Expiracion: 
            {{tipo.diasExpiracion}}
            Cantidad Maxima: 
            {{tipo.cantidadMaxima}}
            Tiempo De Reproduccion:
            {{tipo.tiempoDeReproduccion}}
            Precio de Compra:
            {{tipo.precioCompra}}
            Precio de Venta: 
            {{tipo.precioVenta}}
        </div>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
            <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
        </svg> -->
    </div>
   
    <div class="pill-group">
         <!-- aca Meto el for para cada uno de los animales -->
        <app-animales [animal]="animal" *ngFor="let animal of animales" ></app-animales>
        
    </div>
    <div class="pill-group">
        <app-button text="X" (btnClick)="eliminarTipo()"></app-button>
        <app-button text="==>" (btnClick)="modificarTipo()"></app-button>
    </div>
</div>
